body{
	margin: 0px;
	padding: 0px;
	 background-image: url("http://s22.postimg.org/jwuqk20xd/fresh_snow.png");
}
@font-face {
    font-family: "Champagne & Limousines";
    src: url('fonts/Champagne & Limousines.ttf');
}
@font-face {
    font-family: "Champagne & Limousines Italic";
    font-style: italic;
    src: url('fonts/Champagne & Limousines Italic.otf');
}
@font-face {
    font-family: "Champagne & Limousines Bold";
    font-weight: bold;
    src: url('fonts/Champagne & Limousines Bold.ttf');
}
@font-face {
    font-family: "Champagne & Limousines Bold Italic";
    font-weight: bold;
    font-style: italic;
    src: url('fonts/Champagne & Limousines Bold Italic.ttf');
}

#about
{
	width:500px;
	height: 262px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-family: helvetica;
}


#name{
	width:500px;
	height: 262px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color:#DC143C;
	font-family: helvetica;
	font-style: italic;
	font-size: 14pt;
}
#name1{
	width:450px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color:#DC143C;
	font-family: helvetica;
	font-style: italic;
	font-size: 25pt;
}

/* /// HEADER /// */
#logo
{
 width:924;
}
#logo
{
 width: 924px;
 height: 262px;
 margin-left: auto;
 margin-right: 230px;
 top: -40px;
 position: relative;
 z-index: 10;
}

#menu 
{
width: 340px;
height: 18px;
margin-left: auto;
margin-right: auto;
top: -90px;
position: relative;
z-index: 25;
}

.menu
{
	font-family: "Champagne & Limousines";
	font-size: 19pt;
	color: black;
	display: inline-block;
	margin-left: 15px;
}

.menu1
{
	font-family: "Champagne & Limousines";
	color: black;
	text-decoration: none;
}
.menu0
{
	font-family: "Champagne & Limousines";
	color: black;
	text-decoration: none;
}
.menu0:hover
{
	font-family: "Champagne & Limousines";
	color: #6D071A;
	text-decoration: none;
}
.menu1:hover
{
	font-family: "Champagne & Limousines";
	color: #6D071A;
	text-decoration: none;
}
/* /// CENTRE /// */

#centre
{
	width:1020px;
	height:100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}

/* /// FOOTER /// */
#logo-bas
{
 width: 924px;
 height: 100px;
 margin-left: auto;
 margin-right: auto;
 bottom: 36px;
 top:50px;
 position: relative;
 z-index: 10;
}
