
#name{
	width:500px;
	height: 262px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color:#DC143C;
	font-family: helvetica;
	font-style: italic;
	font-size: 25pt;
}

#name1{
	width:450px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color:#DC143C;
	font-family: helvetica;
	font-style: italic;
	font-size: 25pt;
}

body{
	margin: 0px;
	padding: 0px;
}

#about
{
	width:500px;
	height: 262px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-family: helvetica;
}


.menu {
  font-size: 19pt;
  color: black;
  display: inline-block;
  margin-left: 15px;
  top:5px;
}

#menu {
  background-color:gray;
  width: 300px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 25;
  top:20px;
}
.menu0 {
  color: black;
  text-decoration: none;
}

.menu1 {
  color: black;
  text-decoration: none;
}
.menu2 {
  color: black;
  text-decoration: none;
}
